.idea
.DS_Store
.env
.env.*
!.env.example
.pnpm-store
.turbo
coverage
dist
build
node_modules
package-lock.json
apps/*/node_modules
apps/*/dist
apps/*/build
apps/*/.env
apps/*/.env.*
apps/*/coverage
apps/*/.turbo
*.log
gcpServiceAccountKey.json
